<!DOCTYPE html>
<html>
    <body>
        <ul>
            {{#each project}}
                <li>{{@key}}, reference: {{{this.reference}}}, projectType: {{this.projectType}}, purpose: {{ this.purpose }}, root: {{this.root}}, sourceRoot: {{this.sourceRoot}}</li>
            {{/each}}

        </ul>
    </body>
</html>